@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Trang hạn chế truy cập";
}
<h1 class="text-danger text-center">Hạn chế truy cập</h1>
