@model LoginVM
@{
    ViewData["Title"] = "Trang Đăng nhập";
    ViewBag.MenuClient = MenuClient.Login;
}
<div class="row">
    <div class="col-lg-3 col-md-2 col-sm-12"></div>
    <div class="col-lg-6 col-md-8 col-sm-12" style="padding: 0 50px !important">
        <div class="row form-login-register">
            <div class="col-md-8 py-5">
                <h1 class="text-primary">Đăng nhập</h1>
                <form asp-action="Login" asp-controller="Accounts" method="post" asp-route-returnUrl="@ViewBag.ReturnUrl">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label class="text-dark">Email</label>
                        <input asp-for="Email" type="text" class="form-control" placeholder="Địa chỉ email">
                    </div>
                    <div class="form-group">
                        <label class="text-dark">Mật khẩu</label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Mật khẩu">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkpassword">
                            <label class="custom-control-label" for="checkpassword">Hiện mật khẩu</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 rounded">Đăng nhập</button>
                </form>
            </div>
            <div class="col-md-4 bg-primary">
                <div class="mt-3">
                    <a asp-action="ForgotPassword" asp-controller="Accounts" class="text-light">Quên mật khẩu ?</a>
                </div>
                <div class="my-2">
                    <a asp-action="Register" asp-controller="Accounts" class="text-light">Đăng ký</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-2 col-sm-12"></div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
    <script type="text/javascript">
        $('#checkpassword').change(function () {
            if ($(this).is(":checked")) {
                $('#Password').attr('type', 'text')
            }
            else {
                $('#Password').attr('type', 'password')
            }
        })
    </script>
}