body {}
.link-decoration:hover {
    text-decoration: underline !important;
}
.searchproduct:focus {
    outline: 0 !important;
}
//Image Product Detail Start
#product-carousel {
    height: 512px !important;
}
@media screen and (max-width: 750px) {
    #product-carousel {
        height: 400px !important;
    }
}
.carousel-inner {
    border: 0.5px solid #00000020 !important;
    border-radius: 10px;
}
//Image Product Detail End
//Toast Start

.m-toast-box {
    position: fixed;
    top: 10px;
    right: 0;
    display: block;
    z-index: 2;
}

.m-toast-box .m-toast-message {
    min-height: 48px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0 10px 0 16px;
    margin-bottom: 8px;
    margin-right: 8px;
    max-width: 250px;
    min-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 4px;
    opacity: 0;
    animation: slideInContent 1s forwards, fadeInContent 1s forwards; /* Sử dụng animation slideInContent */
}
@keyframes slideInContent {
    from {
        transform: translateX(100%); /* Từ vị trí ngoài màn hình bên trên */
        visibility: visible; /* Hiển thị toast content khi animation bắt đầu */
    }

    to {
        transform: translateX(0); /* Đến vị trí cuối cùng (đã chỉ định) */
    }
}
@keyframes fadeInContent {
    from {
        opacity: 0; /* Từ opacity 0 */
    }

    to {
        opacity: 1; /* Đến opacity 1 */
    }
}
.m-toast-message.hidden {
    animation: slideOutContent 1s forwards, fadeOutContent 1s forwards; /* Sử dụng animation slideOutContent */
}

@keyframes slideOutContent {
    from {
        transform: translateX(0); /* Từ vị trí hiện tại */
    }

    to {
        transform: translateX(100%); /* Đến vị trí ngoài màn hình bên trên */
        visibility: hidden; /* Ẩn toast content khi animation kết thúc */
    }
}
@keyframes fadeOutContent {
    from {
        opacity: 1; /* Từ opacity 1 */
    }

    to {
        opacity: 0; /* Đến opacity 0 */
    }
}
.m-toast-box .m-toast-message .m-toast-icon {
    font-size: 20px;
}

.m-toast-box .m-toast-message .m-toast-text {
    color: #000;
    margin: 0 8px;
    flex: 1;
}

.m-toast-box .m-toast-message .m-toast-close {
    font-size: 20px;
    cursor: pointer;
}

.m-toast-box .m-toast-success {
    background-color: #baffe7;
}

.m-toast-box .m-toast-success i {
    color: #019160;
}

.m-toast-box .m-toast-success i:hover {
    color: #02754f;
}

.m-toast-box .m-toast-error {
    background-color: #ffcece;
}

.m-toast-box .m-toast-error i {
    color: #ff4747;
}

.m-toast-box .m-toast-error i:hover {
    color: #de1f1f;
}

.m-toast-box .m-toast-warning {
    background-color: #ffe7af;
}

.m-toast-box .m-toast-warning i {
    color: #fa9f47;
}
.m-toast-box .m-toast-infor {
    background-color: #d8eaff;
}

.m-toast-box .m-toast-infor i {
    color: #0090e0;
}

.m-toast-box .m-toast-infor i:hover {
    color: #0676b2;
}
//Toast End
// Product Detail Start
.link-in-productdetail {
    color: #6c757d;
}
.link-in-productdetail:hover {
    color: #28a745;
    text-decoration: underline;
}
// Product Detail End
// SideBar Start
.sidebar-collapse:hover h5{
    color: #28a745 !important;
}
.sidebar-collapse:hover i {
    color: #28a745 !important;
}
.sidebar-collapse.active {
    color: #28a745 !important;
}
.sidebar-collapse.active h5 {
    color: #28a745 !important;
}
.group-item-sidebar {
    border-radius: 5px;
}
// SideBar End
// Grid Extension Start
// Grid Extension End
// form start
.form-group input {
    border-color: #ced4da !important;
    border-radius: 0.25rem !important;
}
.form-group select {
    border-color: #ced4da !important;
    border-radius: 0.25rem !important;
}
//form end
.form-loin-register {
    padding: 20px 40px !important;
    margin: 20px 0;
    border: 1px solid #ced4da !important;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
}
.form-loin-register a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 770px) {
    .form-loin-register {
        border: none !important;
        box-shadow: none;
    }
}
// loader start
#loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.load-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #28a745;
    --_m: conic-gradient(#0000 10%,#000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: spinner 1s infinite linear;
}

@keyframes spinner {
    to {
        transform: rotate(1turn)
    }
}
// loader end
